<input id="effer_account_name" name=effer[account_name] type="text" placeholder="Account Name" value="<%= @effer.account_name %>">
<br>
<br>
<input id="effer_password" name=effer[password] type="text" placeholder="Password" value="<%= @effer.password %>">
<br>
<br>
<button class="btn btn-default">Effit</button>
<br>
<br>
  <a href="/a/<%= @effer.id %>"
   data-confirm="Your account will be deleted."
   data-method="delete"
   rel="nofollow"></a>