<% content_for(:page_header, 'Effit') %>
<% content_for(:sub_header, 'Just Do It') %>

<ul>
  <% @postits.each do |postit| %>
  <li><a href="/p/<%= postit.id %>/"><%= postit.name %></a></li>
    <ul>
      <li><%= postit.description %></li>
    </ul>
   <br>
  <% end %>
</ul>