<input id="postit_name" name=postit[name] type="text" placeholder="Postit Name" value="<%= @postit.name %>">
<br>
<br>
  <p><textarea id="postit_content" name="postit[content]" rows="17" cols="60" placeholder="Content" value="<%= @postit.content %>"></textarea>
<br>
  <div class='btn-group open'>
    <ul class='dropdown-menu' class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <p>subEffit</p>
        <select id='subeffit_name' name='postit[subeffit_id]'>
          <% @subeffits.each do |subeffit| %>
            <option value='<%= subeffit.id %>'><%= subeffit.name %></option>
          <% end %>
        </select>
    </ul>
  </div>
<br>
<br>
<br>
<br>
<label for="postit_published">publish</label>
<input id="postit_published" type="checkbox" name="postit[published]" value="t">
<br>
<br>
  <button class="btn btn-default">Effit</button>
<br>
<br>