<input id="postit_name" name=postit[name] type="text" placeholder="Postit Name" value="<%= @postit.name %>">
<br>
<br>
<p><textarea id="postit_content" name="postit[content]" rows="27" cols="60" placeholder="Content" value="<%= @postit.content %>"></textarea>
<br>
<br>
<button class="btn btn-default">Effit</button>
<br>
<br>