<input id="e_name" name=e[name] type="text" placeholder="Name your Effit" value="<%= @e.name %>">
<br>
<br>
<input id="e_description" name=e[description] type="text" placeholder="Describe your Effit" value="<%= @e.description %>">
<br>
<br>
<button class="btn btn-default">Effit</button>
