<input id="e_name" name=e[name] type="text" placeholder="Name your subEffit" value="<%= @e.name %>">
<br>
<br>
<input id="e_description" name=e[description] type="text" placeholder="Describe your subEffit" value="<%=  %>">
<br>
<br>
<button class="btn btn-default">Effit</button>
