<% content_for(:page_header, 'Edit your subEffit') %>

<%= render("errors") %>

<form action="/e/<%= @subeffit.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render("e_form") %>
   <a href="/e/<%= @subeffit.id %>"
   data-confirm="Your account will be deleted."
   data-method="delete"
   rel="nofollow">Delete</a>
</form>