<% content_for(:page_header, 'Effit') %>

<ul>
  <% @subeffits.each do |subeffit| %>
  <li><a href="/e/<%= subeffit.id %>/edit"><%= subeffit.name %></a></li>
    <ul>
      <li><%= subeffit.description %></li>
    </ul>
   <br>
  <% end %>
</ul>