<% content_for(:page_header, 'Create a subEffit') %>

<%= render("errors") %>

<form action="/e/<%= @e.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
<%= render("e_form") %>
</form>