<% content_for(:page_header, 'Create a subEffit') %>
<% content_for(:sub_header, 'Just Do It') %>

<%= render("errors") %>

<form action="/e/<%= @subeffit.id %>" method="post">
<%= render("e_form") %>
</form>