<% content_for(:page_header, 'Effit') %>
<% content_for(:sub_header, 'Just Do It') %>

<li><a href="/e/<%= @subeffit.id %>/edit"><%= @subeffit.name %></a></li>

<% @subeffit.postits.each do |postit| %>
  <ul>
    <li><a href='/p/<%= postit.id %>'><%= postit.name %></a></li>
</ul>
<% end %>