<input id="e_name" name=subeffit[name] type="text" placeholder="Name your Effit" value="<%= @subeffit.name %>">
<br>
<br>
<input id="subeffit_description" name=subeffit[description] type="text" placeholder="Describe your Effit" value="<%= @subeffit.description %>">
<br>
<br>
<button class="btn btn-default">Effit</button>
<br>
<br>
  <a href="/e/<%= @subeffit.id %>"
   data-confirm="Your account will be deleted."
   data-method="delete"
   rel="nofollow"></a>
