<input id="e_name" name=subeffit[name] type="text" placeholder="Name your Effit" value="<%= @subeffit.name %>">
<br>
<br>
<input id="subeffit_description" name=subeffit[description] type="text" placeholder="Describe your Effit" value="<%= @subeffit.description %>">
<br>
<br>
<button class="btn btn-default">Effit</button>
