<% content_for(:page_header, 'Effers') %>
<% content_for(:sub_header, 'Just Do It') %>

<ul>
  <% @effers.each do |effer| %>
  <li><a href="/a/<%= effer.id %>/"><%= effer.account_name %></a></li>
    <ul>
      <li><%= effer.password %></li>
    </ul>
   <br>
  <% end %>
</ul>