<% content_for(:page_header, 'Create Your Effer Account') %>
<% content_for(:sub_header, 'Just Do It') %>

<%= render("errors") %>

<form action="/a/<%= @effer.id %>" method="post">
<%= render("e_form") %>
</form>